<% if @users.exists? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><!--Userの写真--></th>
          <th scope="col">名前</th><!--Userの名前-->
          <th scope="col">フォロー数</th><!--Userのフォロー数-->
          <th scope="col">フォロワー数</th><!--Userのフォロワー数-->
          <th scope="col"><!--フォローするボタン--></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_icon, size: "50x50", class: "mt-3 rounded-circle" %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
            <td><%= render "relationships/btn" , user: user %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
<% else %>
  一覧はありません
<% end %>