<!DOCTYPE html>
<html>
  <head>
    <title>Stusta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- googl font english-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <!-- google font japanese -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  </head>

  <body>
    <!------------header section-------------->
    <header>
    <h1 class = "brand">
      <a href = "/">STUSTA</a>
    </h1>

    <nav>
      <ul class = "nav-menu">
        <% if user_signed_in? %>
        <!--  ログインユーザーの場合のheaderメニュー  -->
          <li class = "menu-item">
            <%= link_to "Home", root_path %>
          </li>
          <li class = "menu-item">
            <a href = "#">About</a>
          </li>
          <li class = "menu-item">
            <a href = "#">Works</a>
          </li>
          <li class = "menu-item">
            <a href = "#">Contact</a>
        <% else %>
        <!--  ログインユーザーでない場合のheaderメニュー  -->
          <li class = "menu-item">
            <%= link_to "HOME", root_path %>
          </li>
          <li class = "menu-item">
            <%= link_to "LOG IN", new_user_registration_path %>
          </li>
          <li class = "menu-item">
            <%= link_to "SIGN IN", new_user_session_path %>
          </li>
        <% end %>
        </li>
      </ul>
    </nav>
  </header>
    <!------------main section------------>
  <main>
    <%= yield %>
  </main>


    <!------------footer section----------->
    <footer>
      <h1>STUSTA</h1>
      <p>MotohashiRyuto</p>
    </footer>
  </body>
</html>
